<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add your finished project</title>
</head>
<body>

<h1>Create or edit a finished project</h1>

<form th:action="@{/finishedProject/new}" method="post" th:object="${finishedProject}">
    <input th:type="hidden" th:field="*{projectId}">
    <table>
        <tr>
            <th><label for="projectNameField">Project Name</label></th>
            <th><label for="finishDateField">Finish Date</label></th>
            <th><label for="makerField">Maker</label></th>
            <th><label for="toolField">Tools</label></th>
        </tr>
        <tr>
            <td><input type="text" id="projectNameField" th:field="*{projectName}" /></td>
            <td><input type="text" id="finishDateField" th:field="*{finishDate}" /></td>
            <td><select id="makerField" th:field="*{maker}">
                    <option th:each="maker : ${allMakers}"
                            th:value="${maker.makerId}"
                            th:text="${maker.displayName}">
                        <!-- displayName is niet unique, dus email zou hier beter zijn -->
                    </option>
                </select>
            </td>
            <td>
                <select id="toolField" th:field="*{tools}" multiple>
                    <option th:each="tool : ${allTools}"
                            th:value="${tool.toolId}"
                            th:text="${tool.toolName}">
                    </option>
                </select>
            </td>
        </tr>
    </table>

    <input type="submit" value="Save project" />
</form>

</body>
</html>