<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview of all finished projects</title>
</head>
<body>

<table>
    <tr>
        <th>Project id</th>
        <th>Project name</th>
        <th>Finish date</th>
    </tr>
    <tr th:each="project : ${allFinishedProjects}">
        <td th:text="${project.projectId}"></td>
        <td th:text="${project.projectName}"></td>
        <td th:text="${project.finishDate}"></td>
    </tr>
</table>

<a th:href="@{/maker/all}">Add a maker</a>
<a th:href="@{/finishedProject/new}">Add a finished project</a>

</body>
</html>