<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview of all finished projects</title>
</head>
<body>

<table>
    <tr>
        <th>Project id</th>
        <th>Project name</th>
        <th>Finish date</th>
    </tr>
    <tr th:each="book : ${allFinishedProjects}">
        <td th:text="${book.projectId}"></td>
        <td th:text="${book.projectName}"></td>
        <td th:text="${book.finishDate}"></td>
    </tr>
</table>

</body>
</html>