<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview of makers</title>
</head>
<body>

<h1>Makers in the Makerspot</h1>

<table>
    <tr>
        <th><label for="firstNameField">First name</label></th>
        <th><label for="infixNameField">Infix name</label></th>
        <th><label for="lastNameField">Last name</label></th>
        <th><label for="makerEmailField">E-mail</label></th>
    </tr>

    <tr th:each="maker : ${allMakers}">
        <td th:text="${maker.firstName}"></td>
        <td th:text="${maker.infixName}"></td>
        <td th:text="${maker.lastName}"></td>
        <td><a th:href="@{/maker/detail/{email}(email=${maker.makerEmail})}" th:text="${maker.getMakerEmail()}">
            </a>
        </td>
        <td><a th:href="@{edit/{makerEmail}(makerEmail=${maker.makerEmail})}">Edit maker</a></td>

    </tr>

    <form th:action="@{/maker/new}" method="post" th:object="${newMaker}">
        <input th:type="hidden" th:field="*{makerId}">
        <tr>
            <td><input id="firstNameField" type="text" th:field="*{firstName}"></td>
            <td><input id="infixNameField" type="text" th:field="*{infixName}"></td>
            <td><input id="lastNameField" type="text" th:field="*{lastName}"></td>
            <td><input id="makerEmailField" type="text" th:field="*{makerEmail}"></td>
            <td><input type="submit" value="Save new maker"></td>
        </tr>
    </form>
</table>

</body>
</html>