<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="https://www.thymeleaf.org">
    <title>Details for maker</title>
</head>
<body>
<h1>Details for <span th:text="${makerToBeShown.getDisplayName()}" ></span></h1>

<table>
    <tr>
        <th>Project name</th>
        <th>Finish date</th>
    </tr>
    <tr th:each="project : ${makerToBeShown.getFinishedProjects()}">
        <td th:text="${project.projectName}"></td>
        <td th:text="${project.finishDate}"></td>
    </tr>
</table>
<p>
    <a th:href="@{/maker/edit/{email}(email=${makerToBeShown.makerEmail})}">Edit</a>
</p>

<p>
    <a th:href="@{/maker/delete/{email}(email=${makerToBeShown.makerEmail})}" >Delete</a>
</p>

<p>
    <a th:href="@{/maker/all}">See all makers</a>
</p>

</body>
</html>